<div class="card mt-3">
  <div class="card-header d-flex justify-content-between align-items-center">
    <h4>Accounts</h4>
  </div>


  <div class="card-header d-flex justify-content-between align-items-center">
  <h4>Accounts</h4>
  <div class="d-flex">
    <input
      type="text"
      class="form-control form-control-sm me-2"
      placeholder="Search by Account ID"
      [(ngModel)]="searchQuery"
      (keyup.enter)="applySearch()"
    />
    <button class="btn btn-primary btn-sm me-1" (click)="applySearch()">Search</button>
    <button class="btn btn-secondary btn-sm" (click)="clearSearch()">Clear</button>
  </div>
</div>

  <div class="card-body p-0">
    <table class="table table-striped table-hover mb-0" *ngIf="accounts.length > 0">
      <thead class="table-dark">
        <tr>
          <th>Account ID</th>
          <th>Bank Name</th>
          <th>Balance</th>
          <th>Actions</th>
        </tr>
      </thead>
<tbody>
  <tr *ngFor="let account of accounts">
    <td>{{ account.account_id }}</td>
    <td>{{ account.bank_name }}</td>
    <td>{{ account.balance }}</td>
    <td>

      <button 
        class="btn btn-success btn-sm me-1" 
        [routerLink]="['/staff-dashboard/accounts/deposit', account.account_id]">
        Deposit
      </button>


      <button 
        class="btn btn-warning btn-sm me-1" 
        [routerLink]="['/staff-dashboard/accounts/withdraw', account.account_id]">
        Withdraw
      </button>


      <button 
        class="btn btn-danger btn-sm me-1" 
        (click)="deleteAccount(account.account_id)">
        Delete
      </button>


       <button 
              class="btn btn-info btn-sm" 
              [routerLink]="['/staff-dashboard/accounts/transfer', account.account_id]">
              Transfer Funds
            </button>
    </td>
  </tr>
</tbody>

    </table>

    <div *ngIf="accounts.length === 0 && !loading" class="p-3">
      No accounts found.
    </div>
  </div>

  <div class="d-flex justify-content-between align-items-center m-3">
    <button class="btn btn-primary btn-sm" (click)="prevPage()" [disabled]="page === 1">Prev</button>
    <span>Page {{ page }} of {{ totalPages }}</span>
    <button class="btn btn-primary btn-sm" (click)="nextPage()" [disabled]="page >= totalPages">Next</button>
  </div>

  <div *ngIf="errorMessage" class="alert alert-danger m-3">{{ errorMessage }}</div>
  <div *ngIf="successMessage" class="alert alert-success m-3">{{ successMessage }}</div>
</div>

